html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #008080;
  font-family: 'ms_sans_serif', sans-serif;
  color: #000;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

* {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
